<a href="https://colab.research.google.com/github/Rahafzsh/SentimentAnalysisForSTC/blob/main/Preprocessing_Text.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import numpy as np
import pandas as pd

In [8]:
df=pd.read_csv("stc_tweets_after_final_cleaning_ver5.csv")
df

,Unnamed: 0,id,created_at,date,user_id,name,retweet,nlikes,nreplies,nretweets,tweet4
0,0,1353913978834051073,1.611633e+12,2021-01-26 03:53:41,177757484,NOHYโจ ุงูุจุฑุงูุฉ,False,0,1,0,ุณุญุจุชู ู ูู ู ุจูุบ ูุดุญู ุฑุตูุฏ ุทุฑูู ู ุงู ุงุณ ุณู ุชูุงุตูุช...
1,1,1353709940901371904,1.611585e+12,2021-01-25 14:22:55,1280687902364745731,B..,False,2,2,0,ุงุฐุง ุฑูู ู ุดุบุงู ูุนูุฏู ูุณุฎู ูุงุชุณ ุงุจ ุงูุณุญุงุจู ุจุงููุง...
2,2,1353470988319653888,1.611528e+12,2021-01-24 22:33:24,2569667586,A&....,False,0,1,0,ุงุดุชุฑุงู stc ููู ูุตู ุฑูุญ ู stc ูุงุณุงููู ุทุฑููุชู ุงูุง...
3,3,1353426146621235201,1.611517e+12,2021-01-24 19:35:13,584766522,a7sas asmar,False,0,1,0,ุดูู ูุฃุญุฏ ูู ูุดูู ุงููู ูุณุนุฏูู ุดููู ุงููููู ู ุฏุงูู ...
4,4,1353417040816713729,1.611515e+12,2021-01-24 18:59:02,408119559,Rehab. ๐ฉ๐ปโ๐ป,False,0,1,0,ุงูุฏุฑ ุงุทูุน ุจุฏู ูุงูุฏ ุชุทุจูู ู ุงู ุงุณ ุณู
...,...,...,...,...,...,...,...,...,...,...,...
10821,10826,551460881625014274,1.420313e+12,2015-01-03 19:31:34,152641509,ุงูุนูุงูุฉ ุจุงูุนู ูุงุก stc ุงูุณุนูุฏูุฉ,False,0,0,0,ู ุฑุญุจุง ุจุฅู ูุงูู ุงูุงุทูุงุน ูู ูุฉ ุงูุจูุงูุงุช ุงูู ุชุจููู ุง...
10822,10827,551446748250787840,1.420310e+12,2015-01-03 18:35:24,152641509,ุงูุนูุงูุฉ ุจุงูุนู ูุงุก stc ุงูุณุนูุฏูุฉ,False,0,0,0,ู ุฑุญุจุง ูู ุนุฑูุฉ ุนุฑูุถ ู ุณุจู ุงูุฏูุน ุงุฑุฌู ุงูุฅุทูุงุน ุชุทุจู...
10823,10828,551446022434877440,1.420310e+12,2015-01-03 18:32:31,152641509,ุงูุนูุงูุฉ ุจุงูุนู ูุงุก stc ุงูุณุนูุฏูุฉ,False,0,0,0,ู ุฑุญุจุง ูู ุนุฑูุฉ ุนุฑูุถ ู ุณุจู ุงูุฏูุน ุงุฑุฌู ุงูุฅุทูุงุน ุชุทุจู...
10824,10829,550948181543227392,1.420191e+12,2015-01-02 09:34:17,152641509,ุงูุนูุงูุฉ ุจุงูุนู ูุงุก stc ุงูุณุนูุฏูุฉ,False,0,0,0,"ุงููุง ูุณููุง , , , ุจุงู ูุงูู ุงูุงุทูุงุน ุชูุงุตูู ุงูุจุงูุฉ..."
10825,10830,550854981461737472,1.420169e+12,2015-01-02 03:23:56,152641509,ุงูุนูุงูุฉ ุจุงูุนู ูุงุก stc ุงูุณุนูุฏูุฉ,False,0,0,0,ูู ููู ู ุนุฑูุฉ ุงูู ุชุจูู ุงุดุชุฑุงูู ุฎูุงู ู ููุน ุงูุฌูุงู ู...

In [9]:
df.head()

,Unnamed: 0,id,created_at,date,user_id,name,retweet,nlikes,nreplies,nretweets,tweet4
0,0,1353913978834051073,1.611633e+12,2021-01-26 03:53:41,177757484,NOHYโจ ุงูุจุฑุงูุฉ,False,0,1,0,ุณุญุจุชู ู ูู ู ุจูุบ ูุดุญู ุฑุตูุฏ ุทุฑูู ู ุงู ุงุณ ุณู ุชูุงุตูุช...
1,1,1353709940901371904,1.611585e+12,2021-01-25 14:22:55,1280687902364745731,B..,False,2,2,0,ุงุฐุง ุฑูู ู ุดุบุงู ูุนูุฏู ูุณุฎู ูุงุชุณ ุงุจ ุงูุณุญุงุจู ุจุงููุง...
2,2,1353470988319653888,1.611528e+12,2021-01-24 22:33:24,2569667586,A&....,False,0,1,0,ุงุดุชุฑุงู stc ููู ูุตู ุฑูุญ ู stc ูุงุณุงููู ุทุฑููุชู ุงูุง...
3,3,1353426146621235201,1.611517e+12,2021-01-24 19:35:13,584766522,a7sas asmar,False,0,1,0,ุดูู ูุฃุญุฏ ูู ูุดูู ุงููู ูุณุนุฏูู ุดููู ุงููููู ู ุฏุงูู ...
4,4,1353417040816713729,1.611515e+12,2021-01-24 18:59:02,408119559,Rehab. ๐ฉ๐ปโ๐ป,False,0,1,0,ุงูุฏุฑ ุงุทูุน ุจุฏู ูุงูุฏ ุชุทุจูู ู ุงู ุงุณ ุณู

In [10]:
df.tail()

,Unnamed: 0,id,created_at,date,user_id,name,retweet,nlikes,nreplies,nretweets,tweet4
10821,10826,551460881625014274,1.420313e+12,2015-01-03 19:31:34,152641509,ุงูุนูุงูุฉ ุจุงูุนู ูุงุก stc ุงูุณุนูุฏูุฉ,False,0,0,0,ู ุฑุญุจุง ุจุฅู ูุงูู ุงูุงุทูุงุน ูู ูุฉ ุงูุจูุงูุงุช ุงูู ุชุจููู ุง...
10822,10827,551446748250787840,1.420310e+12,2015-01-03 18:35:24,152641509,ุงูุนูุงูุฉ ุจุงูุนู ูุงุก stc ุงูุณุนูุฏูุฉ,False,0,0,0,ู ุฑุญุจุง ูู ุนุฑูุฉ ุนุฑูุถ ู ุณุจู ุงูุฏูุน ุงุฑุฌู ุงูุฅุทูุงุน ุชุทุจู...
10823,10828,551446022434877440,1.420310e+12,2015-01-03 18:32:31,152641509,ุงูุนูุงูุฉ ุจุงูุนู ูุงุก stc ุงูุณุนูุฏูุฉ,False,0,0,0,ู ุฑุญุจุง ูู ุนุฑูุฉ ุนุฑูุถ ู ุณุจู ุงูุฏูุน ุงุฑุฌู ุงูุฅุทูุงุน ุชุทุจู...
10824,10829,550948181543227392,1.420191e+12,2015-01-02 09:34:17,152641509,ุงูุนูุงูุฉ ุจุงูุนู ูุงุก stc ุงูุณุนูุฏูุฉ,False,0,0,0,"ุงููุง ูุณููุง , , , ุจุงู ูุงูู ุงูุงุทูุงุน ุชูุงุตูู ุงูุจุงูุฉ..."
10825,10830,550854981461737472,1.420169e+12,2015-01-02 03:23:56,152641509,ุงูุนูุงูุฉ ุจุงูุนู ูุงุก stc ุงูุณุนูุฏูุฉ,False,0,0,0,ูู ููู ู ุนุฑูุฉ ุงูู ุชุจูู ุงุดุชุฑุงูู ุฎูุงู ู ููุน ุงูุฌูุงู ู...

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10826 entries, 0 to 10825
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  10826 non-null  int64
 1   id          10826 non-null  int64
 2   created_at  10826 non-null  float64
 3   date        10826 non-null  object
 4   user_id     10826 non-null  int64
 5   name        10826 non-null  object
 6   retweet     10826 non-null  bool
 7   nlikes      10826 non-null  int64
 8   nreplies    10826 non-null  int64
 9   nretweets   10826 non-null  int64
 10  tweet4      10824 non-null  object
dtypes: bool(1), float64(1), int64(6), object(3)
memory usage: 856.5+ KB